In [10]:
import pandas as pd
import numpy as np

In [12]:
data=pd.read_csv("toy - toy.csv")
data

   opponent      venue   outlook  toss result
0       kkr  bangalore  overcast  lost    won
1        mi     mumbai     sunny   won    won
2       rcb     mumbai  overcast   won    won
3       kkr  bangalore     sunny  lost    won
4       kkr  bangalore     sunny   won    won
5        mi    chennai     sunny   won   lost
6       rcb    chennai     sunny   won   lost
7       kkr    chennai  overcast   won    won
8        rr  bangalore     sunny  lost    won
9       rcb     mumbai  overcast   won    won
10      kkr    chennai     sunny   won    won
11      rcb  bangalore     sunny   won    won
12       rr    chennai  overcast   won    won
13      kkr    chennai  overcast   won    won
14      kkr  bangalore  overcast   won    won
15      rcb    chennai  overcast   won   lost
16      kkr  bangalore  overcast   won   lost
17       mi  bangalore     sunny   won   lost
18      rcb    chennai     sunny  lost    won
19       mi    chennai  overcast   won   lost
20      kkr  bangalore     sunny  lost    won
21      rcb  bangalore     sunny   won   lost
22       rr  bangalore  overcast   won    won
23      kkr     mumbai     sunny   won   lost
24       rr    chennai  overcast  lost    won

## Question ##

In this task, you will work on a toy dataset of IPL with following cols:

1. Opponent

2. Venue

3. Outlook

4. Toss

5. Match result

You have to find out whether the team would lose the match or not for the following given input:

{"kkr", "chennai","overcast","lost"}

# Training #



## Look up Table: ##

let P(W) be theprobability of winning the match
let P(L) be the probability of loosing the match.

## Formula considering the given condition: ##

P(L/kkr,chennai, overcasat, lost) = P(L)* P(opponent=kkr/L) * P(venue=chennai/L) * P(outlook=overcast/L) * P(toss=lost/L)

In [15]:
data['result'].value_counts()

won     17
lost     8
Name: result, dtype: int64

In [17]:
#Probability of winning and loosing the match

PW = 17/25
PL = 8/25

print(PW)
print(PL)

0.68
0.32

# Finding probability for each column #

## Outlook: ##

In [18]:
#Probability for "opponent" column

pd.crosstab(data['opponent'], data['result'])

result    lost  won
opponent
kkr          2    8
mi           3    1
rcb          3    4
rr           0    4

In [20]:
pkkrl = 2/8
pmil = 3/8
prcbl = 3/8
prrl = 0/8

pkkrw = 8/17
pmiw = 1/17
prcbw = 4/17
prrw = 4/17

print(pkkrl)
print(pmil)
print(prcbl)
print(prrl)

print(pkkrw)
print(pmiw)
print(prcbw)
print(prrw)

0.25
0.375
0.375
0.0
0.47058823529411764
0.058823529411764705
0.23529411764705882
0.23529411764705882

In [22]:
#Probability for "venue" column

pd.crosstab(data['venue'], data['result'] )

result     lost  won
venue
bangalore     3    8
chennai       4    6
mumbai        1    3

In [24]:
pbl = 3/8
pcl = 4/8
pml = 1/8

pbw = 8/17
pcw = 6/17
pmw = 3/17

print(pbl)
print(pcl)
print(pml)

print(pbw)
print(pcw)
print(pmw)

0.375
0.5
0.125
0.47058823529411764
0.35294117647058826
0.17647058823529413

In [26]:
#Probability for "outlook" column

pd.crosstab(data['outlook'], data['result'])

result    lost  won
outlook
overcast     3    9
sunny        5    8

In [28]:
pol = 3/8
psl = 5/8

pow = 9/17
psw = 8/17

print(pol)
print(psl)

print(pow)
print(psw)

0.375
0.625
0.5294117647058824
0.47058823529411764

In [30]:
#Probability for "toss" column

pd.crosstab(data['toss'], data['result'])

result  lost  won
toss
lost       0    6
won        8   11

In [32]:
pll = 0/8
pwl = 8/8

plw = 6/17
pww = 11/17

print(pll)
print(pwl)

print(plw)
print(pww)

0.0
1.0
0.35294117647058826
0.6470588235294118

In [35]:
#Probability of loosing the match given the condition is"

P0L = pkkrl*pcl*pol*pll
print(P0L)

0.0

In [37]:
#Probability of winning the match given the condition is:

POW = pkkrw*pcw*pow*plw
print(POW)

0.031034111181618997

# Conclusion #

###  Considering the following given data points, it has been predicted that the probability of winning the match is higher than loosing the match. Since the probability of winning the match is 0.03 and loosing the match is 0.0 ###